Project 2

For this project we need to prepare a prototype of a machine learning model for Zyfra. The company develops efficiency solutions for heavy industry.

The model should predict the amount of gold extracted from gold ore. You have the extraction and purification data.

The model will help to optimize production and eliminate unprofitable parameters.

For the process that needs to be exectued on this project we need to:

* Prepare the data.
* Perform data analysis.
* Develop a model and train it.

Explanation:

First we need to understand how the company do the **flotation** and **purification** process in order to understand what we are looking for.

On the next image we can appreciate how the flow starts with the raw minerals set on the process, the first step is the "Flotation" process. 

The gold ore slurry is fed to the **flotation** plants to obtain a rougher gold concentrate and rougher tails (i.e. product residues with a low concentration of valuable metals).

The stability of this process is affected by the volatility and unfavorable physicochemical state of the **flotation** slurry (a mixture of solid particles and liquid).

Then we proceed to the "Puirification" process where:
The rougher concentrate undergoes two stages of **purification**. After this, we have the final concentrate and the new tails.

![Cleaning Process](cleaning_process.png)

Then we need to get the gold recovery of the process as in the next operation:

![Recovery](recovery.png)

With that in consideration we the finally need to do the next operation to get our sMAPE which will determine then how many particles of gold are in the extraction:

![sMAPE](smape.png)

![Final sMAPE](final-smape.png)

# Preparing the data

## Datas examination
In this section we will examine and preprocess the data to make it easy to work with on our future analysis.

In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import make_scorer
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler

We contiune by adding our data into variables using pandas, this will create dataframes of our datasets.

In [34]:
df_train = pd.read_csv('./datasets/gold_recovery_train.csv')
df_test = pd.read_csv('./datasets/gold_recovery_test.csv')
df_full = pd.read_csv('./datasets/gold_recovery_full.csv')

Then we can start to contemplate how is our datasets looking and determine if we need to filter Nan, empty or duplicated values.

In [35]:
print(df_train.shape)
df_train.info()

(16860, 87)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16860 entries, 0 to 16859
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                16860 non-null  object
 1   final.output.concentrate_ag                         16788 non-null  float64
 2   final.output.concentrate_pb                         16788 non-null  float64
 3   final.output.concentrate_sol                        16490 non-null  float64
 4   final.output.concentrate_au                         16789 non-null  float64
 5   final.output.recovery                               15339 non-null  float64
 6   final.output.tail_ag                                16794 non-null  float64
 7   final.output.tail_pb                                16677 non-null  float64
 8   final.output.tail_sol                               16715 non-null  float64
 9   final.output.tail_au                                16794 non-null  float64
 10  primary_cleaner.input.sulfate                       15553 non-null  float64
 11  primary_cleaner.input.depressant                    15598 non-null  float64
 12  primary_cleaner.input.feed_size                     16860 non-null  float64
 13  primary_cleaner.input.xanthate                      15875 non-null  float64
 14  primary_cleaner.output.concentrate_ag               16778 non-null  float64
 15  primary_cleaner.output.concentrate_pb               16502 non-null  float64
 16  primary_cleaner.output.concentrate_sol              16224 non-null  float64
 17  primary_cleaner.output.concentrate_au               16778 non-null  float64
 18  primary_cleaner.output.tail_ag                      16777 non-null  float64
 19  primary_cleaner.output.tail_pb                      16761 non-null  float64
 20  primary_cleaner.output.tail_sol                     16579 non-null  float64
 21  primary_cleaner.output.tail_au                      16777 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              16820 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            16827 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              16820 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            16833 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              16822 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            16833 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              16821 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            16833 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       16833 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  16833 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  16833 non-null  float64
 33  rougher.calculation.au_pb_ratio                     15618 non-null  float64
 34  rougher.input.feed_ag                               16778 non-null  float64
 35  rougher.input.feed_pb                               16632 non-null  float64
 36  rougher.input.feed_rate                             16347 non-null  float64
 37  rougher.input.feed_size                             16443 non-null  float64
 38  rougher.input.feed_sol                              16568 non-null  float64
 39  rougher.input.feed_au                               16777 non-null  float64
 40  rougher.input.floatbank10_sulfate                   15816 non-null  float64
 41  rougher.input.floatbank10_xanthate                  16514 non-null  float64
 42  rougher.input.floatbank11_sulfate                   16237 non-null  float64
 43  rougher.input.floatbank11_xanthate                  14956 non-null  float64
 44  rougher.output.concentrate_ag                       16778 non-null  float64
 45  rougher.output.concentrate_pb                       16778 non-null  float64
 46  rougher.output.concentrate_sol                      16698 non-null  float64
 47  rougher.output.concentrate_au                       16778 non-null  float64
 48  rougher.output.recovery                             14287 non-null  float64
 49  rougher.output.tail_ag                              14610 non-null  float64
 50  rougher.output.tail_pb                              16778 non-null  float64
 51  rougher.output.tail_sol                             14611 non-null  float64
 52  rougher.output.tail_au                              14611 non-null  float64
 53  rougher.state.floatbank10_a_air                     16807 non-null  float64
 54  rougher.state.floatbank10_a_level                   16807 non-null  float64
 55  rougher.state.floatbank10_b_air                     16807 non-null  float64
 56  rougher.state.floatbank10_b_level                   16807 non-null  float64
 57  rougher.state.floatbank10_c_air                     16807 non-null  float64
 58  rougher.state.floatbank10_c_level                   16814 non-null  float64
 59  rougher.state.floatbank10_d_air                     16802 non-null  float64
 60  rougher.state.floatbank10_d_level                   16809 non-null  float64
 61  rougher.state.floatbank10_e_air                     16257 non-null  float64
 62  rougher.state.floatbank10_e_level                   16809 non-null  float64
 63  rougher.state.floatbank10_f_air                     16802 non-null  float64
 64  rougher.state.floatbank10_f_level                   16802 non-null  float64
 65  secondary_cleaner.output.tail_ag                    16776 non-null  float64
 66  secondary_cleaner.output.tail_pb                    16764 non-null  float64
 67  secondary_cleaner.output.tail_sol                   14874 non-null  float64
 68  secondary_cleaner.output.tail_au                    16778 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            16497 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          16751 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            16705 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          16748 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            16763 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          16747 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            16752 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          16750 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            16731 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          16747 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            16768 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          16767 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            16775 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          16775 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            16775 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          16776 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            16757 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          16775 non-null  float64
dtypes: float64(86), object(1)
memory usage: 11.2+ MB

In [36]:
df_train.head()

,date,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-01-15 00:00:00,6.055403,9.889648,5.507324,42.192020,70.541216,10.411962,0.895447,16.904297,2.143149,...,14.016835,-502.488007,12.099931,-504.715942,9.925633,-498.310211,8.079666,-500.470978,14.151341,-605.841980
1,2016-01-15 01:00:00,6.029369,9.968944,5.257781,42.701629,69.266198,10.462676,0.927452,16.634514,2.224930,...,13.992281,-505.503262,11.950531,-501.331529,10.039245,-500.169983,7.984757,-500.582168,13.998353,-599.787184
2,2016-01-15 02:00:00,6.055926,10.213995,5.383759,42.657501,68.116445,10.507046,0.953716,16.208849,2.257889,...,14.015015,-502.520901,11.912783,-501.133383,10.070913,-500.129135,8.013877,-500.517572,14.028663,-601.427363
3,2016-01-15 03:00:00,6.047977,9.977019,4.858634,42.689819,68.347543,10.422762,0.883763,16.532835,2.146849,...,14.036510,-500.857308,11.999550,-501.193686,9.970366,-499.201640,7.977324,-500.255908,14.005551,-599.996129
4,2016-01-15 04:00:00,6.148599,10.142511,4.939416,42.774141,66.927016,10.360302,0.792826,16.525686,2.055292,...,14.027298,-499.838632,11.953070,-501.053894,9.925709,-501.686727,7.894242,-500.356035,13.996647,-601.496691

In [37]:
print(df_test.shape)
df_test.head()

(5856, 53)

,date,primary_cleaner.input.sulfate,primary_cleaner.input.depressant,primary_cleaner.input.feed_size,primary_cleaner.input.xanthate,primary_cleaner.state.floatbank8_a_air,primary_cleaner.state.floatbank8_a_level,primary_cleaner.state.floatbank8_b_air,primary_cleaner.state.floatbank8_b_level,primary_cleaner.state.floatbank8_c_air,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-09-01 00:59:59,210.800909,14.993118,8.080000,1.005021,1398.981301,-500.225577,1399.144926,-499.919735,1400.102998,...,12.023554,-497.795834,8.016656,-501.289139,7.946562,-432.317850,4.872511,-500.037437,26.705889,-499.709414
1,2016-09-01 01:59:59,215.392455,14.987471,8.080000,0.990469,1398.777912,-500.057435,1398.055362,-499.778182,1396.151033,...,12.058140,-498.695773,8.130979,-499.634209,7.958270,-525.839648,4.878850,-500.162375,25.019940,-499.819438
2,2016-09-01 02:59:59,215.259946,12.884934,7.786667,0.996043,1398.493666,-500.868360,1398.860436,-499.764529,1398.075709,...,11.962366,-498.767484,8.096893,-500.827423,8.071056,-500.801673,4.905125,-499.828510,24.994862,-500.622559
3,2016-09-01 03:59:59,215.336236,12.006805,7.640000,0.863514,1399.618111,-498.863574,1397.440120,-499.211024,1400.129303,...,12.033091,-498.350935,8.074946,-499.474407,7.897085,-500.868509,4.931400,-499.963623,24.948919,-498.709987
4,2016-09-01 04:59:59,199.099327,10.682530,7.530000,0.805575,1401.268123,-500.808305,1398.128818,-499.504543,1402.172226,...,12.025367,-500.786497,8.054678,-500.397500,8.107890,-509.526725,4.957674,-500.360026,25.003331,-500.856333

In [38]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5856 entries, 0 to 5855
Data columns (total 53 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   date                                        5856 non-null   object
 1   primary_cleaner.input.sulfate               5554 non-null   float64
 2   primary_cleaner.input.depressant            5572 non-null   float64
 3   primary_cleaner.input.feed_size             5856 non-null   float64
 4   primary_cleaner.input.xanthate              5690 non-null   float64
 5   primary_cleaner.state.floatbank8_a_air      5840 non-null   float64
 6   primary_cleaner.state.floatbank8_a_level    5840 non-null   float64
 7   primary_cleaner.state.floatbank8_b_air      5840 non-null   float64
 8   primary_cleaner.state.floatbank8_b_level    5840 non-null   float64
 9   primary_cleaner.state.floatbank8_c_air      5840 non-null   float64
 10  primary_cleaner.state.floatbank8_c_level    5840 non-null   float64
 11  primary_cleaner.state.floatbank8_d_air      5840 non-null   float64
 12  primary_cleaner.state.floatbank8_d_level    5840 non-null   float64
 13  rougher.input.feed_ag                       5840 non-null   float64
 14  rougher.input.feed_pb                       5840 non-null   float64
 15  rougher.input.feed_rate                     5816 non-null   float64
 16  rougher.input.feed_size                     5834 non-null   float64
 17  rougher.input.feed_sol                      5789 non-null   float64
 18  rougher.input.feed_au                       5840 non-null   float64
 19  rougher.input.floatbank10_sulfate           5599 non-null   float64
 20  rougher.input.floatbank10_xanthate          5733 non-null   float64
 21  rougher.input.floatbank11_sulfate           5801 non-null   float64
 22  rougher.input.floatbank11_xanthate          5503 non-null   float64
 23  rougher.state.floatbank10_a_air             5839 non-null   float64
 24  rougher.state.floatbank10_a_level           5840 non-null   float64
 25  rougher.state.floatbank10_b_air             5839 non-null   float64
 26  rougher.state.floatbank10_b_level           5840 non-null   float64
 27  rougher.state.floatbank10_c_air             5839 non-null   float64
 28  rougher.state.floatbank10_c_level           5840 non-null   float64
 29  rougher.state.floatbank10_d_air             5839 non-null   float64
 30  rougher.state.floatbank10_d_level           5840 non-null   float64
 31  rougher.state.floatbank10_e_air             5839 non-null   float64
 32  rougher.state.floatbank10_e_level           5840 non-null   float64
 33  rougher.state.floatbank10_f_air             5839 non-null   float64
 34  rougher.state.floatbank10_f_level           5840 non-null   float64
 35  secondary_cleaner.state.floatbank2_a_air    5836 non-null   float64
 36  secondary_cleaner.state.floatbank2_a_level  5840 non-null   float64
 37  secondary_cleaner.state.floatbank2_b_air    5833 non-null   float64
 38  secondary_cleaner.state.floatbank2_b_level  5840 non-null   float64
 39  secondary_cleaner.state.floatbank3_a_air    5822 non-null   float64
 40  secondary_cleaner.state.floatbank3_a_level  5840 non-null   float64
 41  secondary_cleaner.state.floatbank3_b_air    5840 non-null   float64
 42  secondary_cleaner.state.floatbank3_b_level  5840 non-null   float64
 43  secondary_cleaner.state.floatbank4_a_air    5840 non-null   float64
 44  secondary_cleaner.state.floatbank4_a_level  5840 non-null   float64
 45  secondary_cleaner.state.floatbank4_b_air    5840 non-null   float64
 46  secondary_cleaner.state.floatbank4_b_level  5840 non-null   float64
 47  secondary_cleaner.state.floatbank5_a_air    5840 non-null   float64
 48  secondary_cleaner.state.floatbank5_a_level  5840 non-null   float64
 49  secondary_cleaner.state.floatbank5_b_air    5840 non-null   float64
 50  secondary_cleaner.state.floatbank5_b_level  5840 non-null   float64
 51  secondary_cleaner.state.floatbank6_a_air    5840 non-null   float64
 52  secondary_cleaner.state.floatbank6_a_level  5840 non-null   float64
dtypes: float64(52), object(1)
memory usage: 2.4+ MB

In [39]:
print(df_full.shape)
df_full.head()

(22716, 87)

,date,final.output.concentrate_ag,final.output.concentrate_pb,final.output.concentrate_sol,final.output.concentrate_au,final.output.recovery,final.output.tail_ag,final.output.tail_pb,final.output.tail_sol,final.output.tail_au,...,secondary_cleaner.state.floatbank4_a_air,secondary_cleaner.state.floatbank4_a_level,secondary_cleaner.state.floatbank4_b_air,secondary_cleaner.state.floatbank4_b_level,secondary_cleaner.state.floatbank5_a_air,secondary_cleaner.state.floatbank5_a_level,secondary_cleaner.state.floatbank5_b_air,secondary_cleaner.state.floatbank5_b_level,secondary_cleaner.state.floatbank6_a_air,secondary_cleaner.state.floatbank6_a_level
0,2016-01-15 00:00:00,6.055403,9.889648,5.507324,42.192020,70.541216,10.411962,0.895447,16.904297,2.143149,...,14.016835,-502.488007,12.099931,-504.715942,9.925633,-498.310211,8.079666,-500.470978,14.151341,-605.841980
1,2016-01-15 01:00:00,6.029369,9.968944,5.257781,42.701629,69.266198,10.462676,0.927452,16.634514,2.224930,...,13.992281,-505.503262,11.950531,-501.331529,10.039245,-500.169983,7.984757,-500.582168,13.998353,-599.787184
2,2016-01-15 02:00:00,6.055926,10.213995,5.383759,42.657501,68.116445,10.507046,0.953716,16.208849,2.257889,...,14.015015,-502.520901,11.912783,-501.133383,10.070913,-500.129135,8.013877,-500.517572,14.028663,-601.427363
3,2016-01-15 03:00:00,6.047977,9.977019,4.858634,42.689819,68.347543,10.422762,0.883763,16.532835,2.146849,...,14.036510,-500.857308,11.999550,-501.193686,9.970366,-499.201640,7.977324,-500.255908,14.005551,-599.996129
4,2016-01-15 04:00:00,6.148599,10.142511,4.939416,42.774141,66.927016,10.360302,0.792826,16.525686,2.055292,...,14.027298,-499.838632,11.953070,-501.053894,9.925709,-501.686727,7.894242,-500.356035,13.996647,-601.496691

In [40]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22716 entries, 0 to 22715
Data columns (total 87 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   date                                                22716 non-null  object
 1   final.output.concentrate_ag                         22627 non-null  float64
 2   final.output.concentrate_pb                         22629 non-null  float64
 3   final.output.concentrate_sol                        22331 non-null  float64
 4   final.output.concentrate_au                         22630 non-null  float64
 5   final.output.recovery                               20753 non-null  float64
 6   final.output.tail_ag                                22633 non-null  float64
 7   final.output.tail_pb                                22516 non-null  float64
 8   final.output.tail_sol                               22445 non-null  float64
 9   final.output.tail_au                                22635 non-null  float64
 10  primary_cleaner.input.sulfate                       21107 non-null  float64
 11  primary_cleaner.input.depressant                    21170 non-null  float64
 12  primary_cleaner.input.feed_size                     22716 non-null  float64
 13  primary_cleaner.input.xanthate                      21565 non-null  float64
 14  primary_cleaner.output.concentrate_ag               22618 non-null  float64
 15  primary_cleaner.output.concentrate_pb               22268 non-null  float64
 16  primary_cleaner.output.concentrate_sol              21918 non-null  float64
 17  primary_cleaner.output.concentrate_au               22618 non-null  float64
 18  primary_cleaner.output.tail_ag                      22614 non-null  float64
 19  primary_cleaner.output.tail_pb                      22594 non-null  float64
 20  primary_cleaner.output.tail_sol                     22365 non-null  float64
 21  primary_cleaner.output.tail_au                      22617 non-null  float64
 22  primary_cleaner.state.floatbank8_a_air              22660 non-null  float64
 23  primary_cleaner.state.floatbank8_a_level            22667 non-null  float64
 24  primary_cleaner.state.floatbank8_b_air              22660 non-null  float64
 25  primary_cleaner.state.floatbank8_b_level            22673 non-null  float64
 26  primary_cleaner.state.floatbank8_c_air              22662 non-null  float64
 27  primary_cleaner.state.floatbank8_c_level            22673 non-null  float64
 28  primary_cleaner.state.floatbank8_d_air              22661 non-null  float64
 29  primary_cleaner.state.floatbank8_d_level            22673 non-null  float64
 30  rougher.calculation.sulfate_to_au_concentrate       22672 non-null  float64
 31  rougher.calculation.floatbank10_sulfate_to_au_feed  22672 non-null  float64
 32  rougher.calculation.floatbank11_sulfate_to_au_feed  22672 non-null  float64
 33  rougher.calculation.au_pb_ratio                     21089 non-null  float64
 34  rougher.input.feed_ag                               22618 non-null  float64
 35  rougher.input.feed_pb                               22472 non-null  float64
 36  rougher.input.feed_rate                             22163 non-null  float64
 37  rougher.input.feed_size                             22277 non-null  float64
 38  rougher.input.feed_sol                              22357 non-null  float64
 39  rougher.input.feed_au                               22617 non-null  float64
 40  rougher.input.floatbank10_sulfate                   21415 non-null  float64
 41  rougher.input.floatbank10_xanthate                  22247 non-null  float64
 42  rougher.input.floatbank11_sulfate                   22038 non-null  float64
 43  rougher.input.floatbank11_xanthate                  20459 non-null  float64
 44  rougher.output.concentrate_ag                       22618 non-null  float64
 45  rougher.output.concentrate_pb                       22618 non-null  float64
 46  rougher.output.concentrate_sol                      22526 non-null  float64
 47  rougher.output.concentrate_au                       22618 non-null  float64
 48  rougher.output.recovery                             19597 non-null  float64
 49  rougher.output.tail_ag                              19979 non-null  float64
 50  rougher.output.tail_pb                              22618 non-null  float64
 51  rougher.output.tail_sol                             19980 non-null  float64
 52  rougher.output.tail_au                              19980 non-null  float64
 53  rougher.state.floatbank10_a_air                     22646 non-null  float64
 54  rougher.state.floatbank10_a_level                   22647 non-null  float64
 55  rougher.state.floatbank10_b_air                     22646 non-null  float64
 56  rougher.state.floatbank10_b_level                   22647 non-null  float64
 57  rougher.state.floatbank10_c_air                     22646 non-null  float64
 58  rougher.state.floatbank10_c_level                   22654 non-null  float64
 59  rougher.state.floatbank10_d_air                     22641 non-null  float64
 60  rougher.state.floatbank10_d_level                   22649 non-null  float64
 61  rougher.state.floatbank10_e_air                     22096 non-null  float64
 62  rougher.state.floatbank10_e_level                   22649 non-null  float64
 63  rougher.state.floatbank10_f_air                     22641 non-null  float64
 64  rougher.state.floatbank10_f_level                   22642 non-null  float64
 65  secondary_cleaner.output.tail_ag                    22616 non-null  float64
 66  secondary_cleaner.output.tail_pb                    22600 non-null  float64
 67  secondary_cleaner.output.tail_sol                   20501 non-null  float64
 68  secondary_cleaner.output.tail_au                    22618 non-null  float64
 69  secondary_cleaner.state.floatbank2_a_air            22333 non-null  float64
 70  secondary_cleaner.state.floatbank2_a_level          22591 non-null  float64
 71  secondary_cleaner.state.floatbank2_b_air            22538 non-null  float64
 72  secondary_cleaner.state.floatbank2_b_level          22588 non-null  float64
 73  secondary_cleaner.state.floatbank3_a_air            22585 non-null  float64
 74  secondary_cleaner.state.floatbank3_a_level          22587 non-null  float64
 75  secondary_cleaner.state.floatbank3_b_air            22592 non-null  float64
 76  secondary_cleaner.state.floatbank3_b_level          22590 non-null  float64
 77  secondary_cleaner.state.floatbank4_a_air            22571 non-null  float64
 78  secondary_cleaner.state.floatbank4_a_level          22587 non-null  float64
 79  secondary_cleaner.state.floatbank4_b_air            22608 non-null  float64
 80  secondary_cleaner.state.floatbank4_b_level          22607 non-null  float64
 81  secondary_cleaner.state.floatbank5_a_air            22615 non-null  float64
 82  secondary_cleaner.state.floatbank5_a_level          22615 non-null  float64
 83  secondary_cleaner.state.floatbank5_b_air            22615 non-null  float64
 84  secondary_cleaner.state.floatbank5_b_level          22616 non-null  float64
 85  secondary_cleaner.state.floatbank6_a_air            22597 non-null  float64
 86  secondary_cleaner.state.floatbank6_a_level          22615 non-null  float64
dtypes: float64(86), object(1)
memory usage: 15.1+ MB

In [41]:
print('Total percentage of the train dataset:', round(len(df_train)*100/len(df_full), 2))
print('Total percentage of the test dataset:', round(len(df_test)*100/len(df_full),2))

Total percentage of the train dataset: 74.22
Total percentage of the test dataset: 25.78

### Recovery Operation

 To calculate the recovery we are going to create the function `recovery_calculation` that will take as arguments the name of the dataset and the stage from which the recovery will be calculated. In this case to calculate the recovery of the Rougher concentrate we will take into account the characteristics `rougher.output.concentrate_au`, `rougher.input.feed_au` and `'rougher.output.tail_au`; while to calculate the final concentrate we will consider the characteristics `final.output.concentrate_au`, `rougher.output.concentrate_au` and `final.output.tail_au`. From which the recovery will be calculated based on the formula presented above.

## Test of rougher recovery by calculating the with the individual values

With the next function we will calculate if the way we obtain the recovery is the correct way of doing it by following the formula.

In [ ]:
# C : rougher.output.concentrate_au
# F : rougher.input.feed_au
# T: rougher.output.tail_au

# Rougher recovery function
def recovery_calculation(df, stage = 'rougher'):
    # Checks the stage of the process
    # If the stage is rougher, it uses the rougher variables
    if stage == 'rougher':
        C =  df['rougher.output.concentrate_au']
        F =  df['rougher.input.feed_au']
        T =  df['rougher.output.tail_au']
    # If the stage is final, it uses the final variables
    elif stage == 'final':
        C = df['final.output.concentrate_au']
        F = df['rougher.output.concentrate_au']
        T = df['final.output.tail_au']
    # If the stage is not rougher or final, it returns NaN
    else:
        print('Indicar etapa adecuada (rougher o final)')
        return np.nan
    # Sets then numerator and denominator of the recovery formula
    numerador = C*(F-T)
    # The denominator is the same for both stages
    denominador = F*(C-T)
    # Calculates the recovery
    # The recovery is expressed in percentage, so we multiply by 100
    recovery = 100*(numerador/denominador)
    # Returns the recovery
    return recovery

In [43]:
rougher_data = df_train[['rougher.output.concentrate_au',
                         'rougher.input.feed_au',
                         'rougher.output.tail_au',
                         'rougher.output.recovery']].dropna()
rougher_recovery = recovery_calculation(rougher_data, 'rougher')

In [44]:
rougher_recovery

0        87.107763
1        86.843261
2        86.842308
3        87.226430
4        86.688794
           ...
16855    89.574376
16856    87.724007
16857    88.890579
16858    89.858126
16859    89.514960
Length: 14287, dtype: float64

In [45]:
rougher_data.shape

(14287, 4)

In [46]:
mean_absolute_error(rougher_recovery, rougher_data['rougher.output.recovery'])

9.303415616264301e-15

# 1.3 Caracteristicas no disponibles

In [47]:
columnas_full = df_full.columns.values
columnas_test = df_test.columns.values


missed_columns = set(columnas_full) - set(columnas_test)
missed_columns

{'final.output.concentrate_ag',
 'final.output.concentrate_au',
 'final.output.concentrate_pb',
 'final.output.concentrate_sol',
 'final.output.recovery',
 'final.output.tail_ag',
 'final.output.tail_au',
 'final.output.tail_pb',
 'final.output.tail_sol',
 'primary_cleaner.output.concentrate_ag',
 'primary_cleaner.output.concentrate_au',
 'primary_cleaner.output.concentrate_pb',
 'primary_cleaner.output.concentrate_sol',
 'primary_cleaner.output.tail_ag',
 'primary_cleaner.output.tail_au',
 'primary_cleaner.output.tail_pb',
 'primary_cleaner.output.tail_sol',
 'rougher.calculation.au_pb_ratio',
 'rougher.calculation.floatbank10_sulfate_to_au_feed',
 'rougher.calculation.floatbank11_sulfate_to_au_feed',
 'rougher.calculation.sulfate_to_au_concentrate',
 'rougher.output.concentrate_ag',
 'rougher.output.concentrate_au',
 'rougher.output.concentrate_pb',
 'rougher.output.concentrate_sol',
 'rougher.output.recovery',
 'rougher.output.tail_ag',
 'rougher.output.tail_au',
 'rougher.output.tail_pb',
 'rougher.output.tail_sol',
 'secondary_cleaner.output.tail_ag',
 'secondary_cleaner.output.tail_au',
 'secondary_cleaner.output.tail_pb',
 'secondary_cleaner.output.tail_sol'}

# 1.4 Procesamiento de datos

In [48]:
df_train.duplicated().sum()

np.int64(0)

In [49]:
df_train.isna().sum()

date                                            0
final.output.concentrate_ag                    72
final.output.concentrate_pb                    72
final.output.concentrate_sol                  370
final.output.concentrate_au                    71
                                             ...
secondary_cleaner.state.floatbank5_a_level     85
secondary_cleaner.state.floatbank5_b_air       85
secondary_cleaner.state.floatbank5_b_level     84
secondary_cleaner.state.floatbank6_a_air      103
secondary_cleaner.state.floatbank6_a_level     85
Length: 87, dtype: int64

In [50]:
df_test.isna().sum()

date                                            0
primary_cleaner.input.sulfate                 302
primary_cleaner.input.depressant              284
primary_cleaner.input.feed_size                 0
primary_cleaner.input.xanthate                166
primary_cleaner.state.floatbank8_a_air         16
primary_cleaner.state.floatbank8_a_level       16
primary_cleaner.state.floatbank8_b_air         16
primary_cleaner.state.floatbank8_b_level       16
primary_cleaner.state.floatbank8_c_air         16
primary_cleaner.state.floatbank8_c_level       16
primary_cleaner.state.floatbank8_d_air         16
primary_cleaner.state.floatbank8_d_level       16
rougher.input.feed_ag                          16
rougher.input.feed_pb                          16
rougher.input.feed_rate                        40
rougher.input.feed_size                        22
rougher.input.feed_sol                         67
rougher.input.feed_au                          16
rougher.input.floatbank10_sulfate             257
rougher.input.floatbank10_xanthate            123
rougher.input.floatbank11_sulfate              55
rougher.input.floatbank11_xanthate            353
rougher.state.floatbank10_a_air                17
rougher.state.floatbank10_a_level              16
rougher.state.floatbank10_b_air                17
rougher.state.floatbank10_b_level              16
rougher.state.floatbank10_c_air                17
rougher.state.floatbank10_c_level              16
rougher.state.floatbank10_d_air                17
rougher.state.floatbank10_d_level              16
rougher.state.floatbank10_e_air                17
rougher.state.floatbank10_e_level              16
rougher.state.floatbank10_f_air                17
rougher.state.floatbank10_f_level              16
secondary_cleaner.state.floatbank2_a_air       20
secondary_cleaner.state.floatbank2_a_level     16
secondary_cleaner.state.floatbank2_b_air       23
secondary_cleaner.state.floatbank2_b_level     16
secondary_cleaner.state.floatbank3_a_air       34
secondary_cleaner.state.floatbank3_a_level     16
secondary_cleaner.state.floatbank3_b_air       16
secondary_cleaner.state.floatbank3_b_level     16
secondary_cleaner.state.floatbank4_a_air       16
secondary_cleaner.state.floatbank4_a_level     16
secondary_cleaner.state.floatbank4_b_air       16
secondary_cleaner.state.floatbank4_b_level     16
secondary_cleaner.state.floatbank5_a_air       16
secondary_cleaner.state.floatbank5_a_level     16
secondary_cleaner.state.floatbank5_b_air       16
secondary_cleaner.state.floatbank5_b_level     16
secondary_cleaner.state.floatbank6_a_air       16
secondary_cleaner.state.floatbank6_a_level     16
dtype: int64

In [51]:
df_train = df_train.ffill()
df_test = df_test.ffill()

#df_train = df_train.fillna(method = 'ffill')
#df_test = df_test.fillna(method = 'ffill')

In [52]:
print(df_test.shape)
df_test = df_test.merge(df_full[['date','rougher.output.recovery', 'final.output.recovery']],
              how = 'left', on = 'date')

print(df_test.shape)

(5856, 53)
(5856, 55)

In [53]:
df_train = df_train[df_test.columns]